# Scraping Concerts - Lab

## Introduction

Now that you've seen how to scrape a simple website, it's time to again practice those skills on a full-fledged site!

In this lab, you'll practice your scraping skills on an online music magazine and events website called Resident Advisor.

## Objectives

You will be able to:
* Create a full scraping pipeline that involves traversing over many pages of a website, dealing with errors and storing data

## View the Website

For this lab, you'll be scraping the https://ra.co website. For reproducibility we will use the [Internet Archive](https://archive.org/) Wayback Machine to retrieve a version of this page from March 2019.

Start by navigating to the events page [here](https://web.archive.org/web/20210325230938/https://ra.co/events/us/newyork?week=2019-03-30) in your browser. It should look something like this:

<img src="images/ra_top.png">

## Open the Inspect Element Feature

Next, open the inspect element feature from your web browser in order to preview the underlying HTML associated with the page.

## Write a Function to Scrape all of the Events on the Given Page

The function should return a Pandas DataFrame with columns for the `Event_Name`, `Venue`, and `Number_of_Attendees`.

Start by importing the relevant libraries, making a request to the relevant URL, and exploring the contents of the response with `BeautifulSoup`. Then fill in the `scrape_events` function with the relevant code.

In [1]:
# Relevant imports
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import time

In [2]:

EVENTS_PAGE_URL = "https://web.archive.org/web/20210325230938/https://ra.co/events/us/newyork?week=2019-03-30"

# Exploration: making the request and parsing the response
response = requests.get(EVENTS_PAGE_URL)
soup = BeautifulSoup(response.content, "html.parser")

In [3]:

# Find the container with event listings in it
event_listings = soup.find('div', attrs={"data-tracking-id": "events-all"}).find("ul").find("li")
event_listings.text[:200]

'̸Sat, 30 MarUnterMania IIMary Yuzovskaya, Manni Dee, Umfang, Juana, The Lady MachineTBA - New YorkRARA Tickets457Cocoon New York: Sven Väth, Ilario Alicante, Butch & TaimurSven Vath, Butch, Taimur, Il'

In [4]:

# Find a list of events by date within that container
dates = event_listings.findChildren(recursive=False)
dates[2].text[:200]

'̸Sun, 31 MarSunday: Soul SummitNowadaysRARA Tickets132New Dad & Aaron Clark (Honcho)Aaron Clark, New DadAce Hotel3ParadiscoOccupy The DiscoLe Bain3Sunday Soiree: Unknown Showcase (Detroit)Ryan Dahl, H'

In [5]:

# Extract the date (e.g. Sat, 30 Mar) from one of those containers
first_date = dates[0]
date = first_date.findChildren("div", recursive=False)[0].text.strip("'̸")
date

'Sat, 30 Mar'

In [6]:

# Extract the name, venue, and number of attendees from one of the
# events within that container
first_date_events = first_date.findChildren("ul")
first_event = first_date_events[0]

name = first_event.find("h3").text
venue_and_attendees = first_event.findAll("div", attrs={"height": 30})
venue = venue_and_attendees[0].text
num_attendees = venue_and_attendees[2].text

print("Name:", name)
print("Venue:", venue)
print("Date:", date)
print("Number of attendees:", num_attendees)

Name: UnterMania II
Venue: TBA - New York
Date: Sat, 30 Mar
Number of attendees: 457

In [7]:

# Loop over all of the event entries, extract this information
# from each, and assemble a dataframe
rows = []
for date_container in dates:
    if not date_container.text:
        # Some are empty, skip over them
        continue
    date = date_container.findChildren("div", recursive=False)[0].text.strip("'̸")
    events = date_container.findChildren("ul")
    for event in events:
        name = event.find("h3").text
        venue_and_attendees = event.findAll("div", attrs={"height": 30})
        venue = venue_and_attendees[0].text
        try:
            num_attendees = int(venue_and_attendees[-1].text)
        except:
            # If the number is missing or malformed, use NaN
            num_attendees = np.nan
        rows.append([name, venue, date, num_attendees])
        
df = pd.DataFrame(rows)
df

,0,1,2,3
0,UnterMania II,TBA - New York,"Sat, 30 Mar",457.0
1,"Cocoon New York: Sven Väth, Ilario Alicante, B...",99 Scott Ave,"Sat, 30 Mar",407.0
2,Horse Meat Disco - New York Residency,Elsewhere,"Sat, 30 Mar",375.0
3,Rave: Underground Resistance All Night,Nowadays,"Sat, 30 Mar",232.0
4,"Believe You Me // Beta Librae, Stephan Kimbel,...",TBA - New York,"Sat, 30 Mar",89.0
...,...,...,...,...
114,A Night at the Baths,C'mon Everybody,"Fri, 5 Apr",1.0
115,Blaqk Audio,Music Hall of Williamsburg,"Fri, 5 Apr",1.0
116,Erik the Lover,Erv's,"Fri, 5 Apr",1.0
117,Wax On Vissions,Starliner,"Fri, 5 Apr",1.0
118,Schimanski & Good Looks present: Mercer,Schimanski,"Fri, 5 Apr",1.0

In [8]:

# Bring it all together in a function that makes the request, gets the
# list of entries from the response, loops over that list to extract the
# name, venue, date, and number of attendees for each event, and returns
# that list of events as a dataframe

def scrape_events(events_page_url):
    # Make the request and parse the response as HTML
    response = requests.get(events_page_url)
    soup = BeautifulSoup(response.content, "html.parser")
    
    # Find the container with event listings in it
    event_listings = soup.find('div', attrs={"data-tracking-id": "events-all"}).find("ul").find("li")

    # Find a list of dates within that container
    dates = event_listings.findChildren(recursive=False)
    
    rows = []
    # Loop over the event container for each date
    for date_container in dates:
        # If the container is empty, skip to the next one
        if not date_container.text:
            continue
        
        # Find the text of the date at the top of the container
        date = date_container.findChildren("div", recursive=False)[0].text.strip("'̸")
        
        # Find a list of events on that date, and loop over them, adding each
        # to `rows`
        events = date_container.findChildren("ul")
        for event in events:
            name = event.find("h3").text
            venue_and_attendees = event.findAll("div", attrs={"height": 30})
            venue = venue_and_attendees[0].text
            try:
                num_attendees = int(venue_and_attendees[-1].text)
            except:
                # If the number is missing or malformed, use NaN
                num_attendees = np.nan
            rows.append([name, venue, date, num_attendees])

    df = pd.DataFrame(rows)
    df.columns = ["Event_Name", "Venue", "Event_Date", "Number_of_Attendees"]
    return df

In [9]:
scrape_events(EVENTS_PAGE_URL)

,Event_Name,Venue,Event_Date,Number_of_Attendees
0,UnterMania II,TBA - New York,"Sat, 30 Mar",457.0
1,"Cocoon New York: Sven Väth, Ilario Alicante, B...",99 Scott Ave,"Sat, 30 Mar",407.0
2,Horse Meat Disco - New York Residency,Elsewhere,"Sat, 30 Mar",375.0
3,Rave: Underground Resistance All Night,Nowadays,"Sat, 30 Mar",232.0
4,"Believe You Me // Beta Librae, Stephan Kimbel,...",TBA - New York,"Sat, 30 Mar",89.0
...,...,...,...,...
114,A Night at the Baths,C'mon Everybody,"Fri, 5 Apr",1.0
115,Blaqk Audio,Music Hall of Williamsburg,"Fri, 5 Apr",1.0
116,Erik the Lover,Erv's,"Fri, 5 Apr",1.0
117,Wax On Vissions,Starliner,"Fri, 5 Apr",1.0
118,Schimanski & Good Looks present: Mercer,Schimanski,"Fri, 5 Apr",1.0

## Write a Function to Retrieve the URL for the Next Page

As you scroll down, there should be a button labeled "Next Week" that will take you to the next page of events. Write code to find that button and extract the URL from it.

This is a relative path, so make sure you add `https://web.archive.org` to the front to get the URL.

![next page](images/ra_next.png)

In [10]:

# Find the link, find the relative path, create the URL for the current `soup`
link = soup.find("svg", attrs={"aria-label": "Right arrow"}).parent.previousSibling
relative_path = link.get("href")
next_page_url = "https://web.archive.org" + relative_path
next_page_url

'https://web.archive.org/web/20210325230938/https://ra.co/events/us/newyork?week=2019-04-06'

In [11]:

# Fill in this function, to take in the current page's URL and return the
# next page's URL
def next_page(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    link = soup.find("svg", attrs={"aria-label": "Right arrow"}).parent.previousSibling
    relative_path = link.get("href")
    next_page_url = "https://web.archive.org" + relative_path
    return next_page_url

In [12]:
next_page(EVENTS_PAGE_URL)

'https://web.archive.org/web/20210325230938/https://ra.co/events/us/newyork?week=2019-04-06'

## Scrape the Next 500 Events

In other words, repeatedly call `scrape_events` and `next_page` until you have assembled a dataframe with at least 500 rows.

Display the data sorted by the number of attendees, greatest to least.

We recommend adding a brief `time.sleep` call between `requests.get` calls to avoid rate limiting.

In [13]:

# Make a dataframe to store results. We will concatenate
# additional dfs as they are returned
overall_df = pd.DataFrame()

current_url = EVENTS_PAGE_URL
while overall_df.shape[0] <= 500:
    # Get all events from the current URL
    df = scrape_events(current_url)
    time.sleep(.2)
    # Add the data to the overall df
    overall_df = pd.concat([overall_df, df])
    # Get the next URL and set it as the current URL
    current_url = next_page(current_url)
    time.sleep(.2)

overall_df

,Event_Name,Venue,Event_Date,Number_of_Attendees
0,UnterMania II,TBA - New York,"Sat, 30 Mar",457.0
1,"Cocoon New York: Sven Väth, Ilario Alicante, B...",99 Scott Ave,"Sat, 30 Mar",407.0
2,Horse Meat Disco - New York Residency,Elsewhere,"Sat, 30 Mar",375.0
3,Rave: Underground Resistance All Night,Nowadays,"Sat, 30 Mar",232.0
4,"Believe You Me // Beta Librae, Stephan Kimbel,...",TBA - New York,"Sat, 30 Mar",89.0
...,...,...,...,...
119,"Sleepy & Boo, Unseen., Dysco, Joeoh",Rose Gold,"Fri, 3 May",2.0
120,Diving for Disco with Jake From Extra Water,Our Wicked Lady,"Fri, 3 May",2.0
121,The Happy Hour After Work Party at Doha Nightclub,Doha Club,"Fri, 3 May",1.0
122,Best of the Boogie,Erv's,"Fri, 3 May",1.0
123,"[CANCELLED] Sound New York Pres Schuld, Sven M...",30 Wall St,"Fri, 3 May",145.0

In [14]:

# Display in the specified sorted order
overall_df.sort_values("Number_of_Attendees", ascending=False)

,Event_Name,Venue,Event_Date,Number_of_Attendees
0,Zero presents... The Masquerade,The 1896,"Sat, 6 Apr",919.0
65,Secret Solstice Pre-Party (Free Entry): Metro ...,Kings Hall - Avant Gardner,"Thu, 18 Apr",670.0
0,Nina Kraviz / James Murphy / Justin Cudmore,Knockdown Center,"Sat, 20 Apr",501.0
89,Stavroz live! presented by Zero,The Williamsburg Hotel,"Fri, 12 Apr",481.0
91,Teksupport: Honey Dijon (All Night Long) Sold Out,99 Scott Ave,"Fri, 5 Apr",463.0
...,...,...,...,...
56,420: A Musical Experience,The Kraine Theater,"Mon, 22 Apr",NaN
61,420: A Musical Experience,The Kraine Theater,"Tue, 23 Apr",NaN
75,420: A Musical Experience,The Kraine Theater,"Wed, 24 Apr",NaN
34,Klandestino Brunch with Electronic Music,Avena Downtown,"Sat, 27 Apr",NaN
48,Digital Clippings,Magick City,"Sun, 28 Apr",NaN

## Summary 

Congratulations! In this lab, you successfully developed a pipeline to scrape a website for concert event information!